
<div class="hero-wrap js-fullheight" style="background-image: url('./assets/images/bg_1.jpg'); height: 400px; background-position: 50% 0px;" 
data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
     
  </div>
</div>

<section class="ftco-section services-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-placeholder"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Digital Banking</h3>
            <p>	We provide digital banking through online website and android application which is available 24/7 hours.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-world"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Loans </h3>
            <p>We provides various types of loans in small amount of intrest. personal loans , home loans , educational loan and many more.</p>
          </div>
        </div>    
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-hotel"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Security & Sefty</h3>
            <p>We provide 100% garrenty and safty of your money and your personal details will are safe with us.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-cooking"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Customer Assistance</h3>
            <p>Kili is briellient chatbot assistance. you can ask question to him anytime and get your doubt resolved.</p>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>
